<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <h1>Contact Us Here</h1>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
