<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to my website</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
      minima odio! Similique minima quas harum. Quam facilis est quidem commodi
      porro voluptatibus. Voluptatibus a mollitia qui. Et ipsum officia quos?
      Quod hic quisquam vel corporis minus dolor aut ipsa incidunt. Ut libero,
      enim reprehenderit nihil exercitationem possimus omnis illo similique
      voluptatum eum? Error nesciunt inventore dolorem nam quaerat illo non.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      eveniet quas voluptatum perferendis ullam recusandae atque culpa odio.
      Corrupti iste perspiciatis eaque natus incidunt unde ipsam dolor illo,
      quisquam optio.
    </p>
  </body>
</html>
