<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>Welcome to my website</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
        minima odio! Similique minima quas harum. Quam facilis est quidem
        commodi porro voluptatibus. Voluptatibus a mollitia qui. Et ipsum
        officia quos? Quod hic quisquam vel corporis minus dolor aut ipsa
        incidunt. Ut libero, enim reprehenderit nihil exercitationem possimus
        omnis illo similique voluptatum eum? Error nesciunt inventore dolorem
        nam quaerat illo non.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        eveniet quas voluptatum perferendis ullam recusandae atque culpa odio.
        Corrupti iste perspiciatis eaque natus incidunt unde ipsam dolor illo,
        quisquam optio.
      </p>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
