<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>Welcome to Cooking Experts</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id modi in vel
        non obcaecati, ipsa atque ullam nam dolore adipisci nostrum cum iusto
        cumque rerum eveniet doloribus. Nulla, officiis voluptates? Expedita
        alias, atque dignissimos non eligendi laborum officia vero nulla iste
        dolorum ipsum, et asperiores nesciunt iusto odio dolore omnis harum
        provident est in! Laboriosam voluptatem molestias harum ipsum ducimus.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        dolor nihil voluptatibus suscipit deserunt iste quibusdam cumque
        voluptate laboriosam repellat, aperiam harum, deleniti eligendi dolores?
        Odio cupiditate cum nam eligendi? Odio, doloribus odit molestias quasi
        nesciunt soluta nihil quaerat dignissimos tempore facere. Atque,
        molestiae voluptatem obcaecati odio dolor inventore quaerat neque soluta
        debitis! Fuga facere aliquid natus quos nihil nulla?
      </p>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
